.container-fluid{
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	height: 100%;	  
  font-family: Lato;
}
/*nav*/
.menu_bar {
  display:none;
}
 
.barra-de-navegacion {
  width: 100%;
  position: fixed;
  z-index: 100000;
}
 
.barra-de-navegacion nav {
  background-color:white;
  z-index:1000;
  width:100%;
    ul {
      list-style:none;  
      text-align: right;
      padding-right: 4%;
          li {
       display:inline-block;
       position: relative;
     }
   } 
}


.barra-de-navegacion nav ul li a {
  display:block;
  text-decoration:none;
  padding: 10px 15px;    
  color: black;
}
 
.barra-de-navegacion nav ul li a span {
  margin-right:10px;
}
 
.barra-de-navegacion nav ul li:hover .children {
  display:block;
}
 
.barra-de-navegacion nav ul li .children {
  display: none;
  background-color:  #57c4f1;;
  position: absolute;
  width: 150%;
  z-index:1000;
  text-align: center;
  padding: 0;
}
 
.barra-de-navegacion nav ul li .children li {
  display:block;
  overflow: hidden;
  border-bottom: 1px dashed rgba(255,255,255,.5);

}
 
.barra-de-navegacion nav ul li .children li a {
  display: block;
}
 
.barra-de-navegacion nav ul li .children li a span {
  float: right;
  position: relative;
  top:3px;
  margin-right:0;
  margin-left:10px;
}
 
.barra-de-navegacion nav ul li .caret {
  position: relative;
  top:3px;
  margin-left:10px;
  margin-right:0px;
}
 
 .submenu{
   display: none;
      button {
      width: 60px;
      height: 40px;
      border-radius: 25px;
      border: 1px solid black;
      background-color: transparent;
      color: black;
    }
}
.ingresar{
  display: none;
    button {
  width: 95px;
  height: 35px;
  border-radius: 12px;
  border: 0;
  background-color: grey;
  color: white;
  font-weight: 700;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding-top:80px;
  }
 
  .menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top:0;
    background-color: #E6F6FD;
  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    color: black;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 40px;
  }
 
  .barra-de-navegacion nav {
    width: 100%;
    height: calc(150% - 100px);
    position: fixed;
    right:100%;
    margin: 0;  
    top: 55px;  
    background-color: rgb(87, 196, 241)
  }
 
  .barra-de-navegacion nav ul li {
    display: block;
    border-bottom:3px dashed rgba(255,255,255,.5);
    padding: 10%;
    text-align: center;
    font-size: 30px;
  }
 
  .barra-de-navegacion nav ul li a {
    display: block;
    color: white;
  }
 
  .barra-de-navegacion nav ul li:hover .children {
    display: none;
  }
 
  .barra-de-navegacion nav ul li .children {
    width: 100%;
    position: relative;
  }
 
  .barra-de-navegacion nav ul li .children li a {
    margin-left:20px;
  }
 
  .barra-de-navegacion nav ul li .caret {
    float: right;
  }
}


/*fondo*/
.lap{
	background-image: url(../fotos/img/home.png);
}
.fondo{
	 h1{
		margin: 0;  
    font-family: Lato;
	 }
	}
.slogan{
      .row{
    	  margin: 0;
        width: 50%;
        position: relative;
        left: 50%;
        text-align: center;
        img{
        	  margin-top: 20%; 
        }
        h1 {
          margin: 0;
          padding: 10% 12% 3%;
          color: rgb(40, 197, 230);
          font-family: Lato;
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px; 
          font-family: Lato;
        }
  }
}

.boton{
	width: 35%;
  background-color: rgba(249, 6, 13, 0.84);
  margin: 0 auto;
  height: 50px;
  padding: 16.5px;
  border-radius: 14px;
  margin-top: 8%;
  margin-bottom: 16%;
  color: white;
    h3{
    	  margin: 0; 
        font-family: Lato;
        font-size: 15px;
        color: white;
        font-weight: 700;
    }

}
.flecha{
	position: relative;
	top: -5%;
	text-align: center;
	 img{
	 	  position: absolute;
      border-radius: 50%;
      margin: 0 auto;
      left: 47.5%;
	 }
}

/*celular*/

.boton2{
  width: 27%;
  background-color: rgba(249, 6, 13, 0.84);
  padding: 8px;
  border-radius: 14px;
  color: white;
  left: 68%;
  position: absolute;
  top: 14px; 
  text-align: center;
    h3{
    	  margin: 0;
        font-size: 13px;
         font-family: Lato;
    }

}
.slogan2{
	   text-align: center;
        h1 {
          padding: 12% 15%;
          margin: 0;
          color: rgb(40, 197, 230);
          font-size: 24px;
          font-family: Lato;
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px;
           font-family: Lato;
        }
        .foto img{
        	width: 100%;
        }
  }
  /*metodologia*/
.metodologia{
    margin: 0 auto;
    h1{
      margin: 15% 0 4%;
      text-align: center;
      color: rgb(56, 165, 216); 
      font-family: Lato;
    }

    h3{
     margin: 0;     
     font-family: Lato;
    }
  }
.primera-comilla {
      position: relative;
      right: -222px;
      top: -10px;
}
.segunda-comilla {
     left: -170px;
     position: relative;
     bottom: -30px;
}
.text-danger {
   color: #E9413E;     
   font-family: Lato;
   font-size: 29px;
}
.line1 {
   width: 175px;
   height: 47px;
   left: 74px;
   border-bottom: 3px dashed #EC6645;
   -webkit-transform: translateY(66px) translateX(2px) rotate(-18deg);
   position: absolute;
   top: 158px;
   left: 74px;
   -moz-transform: translateY(10px) translateX(2px) rotate(-18deg);
   position: absolute;
   top: 158px;
}
.line2 {
   width: 175px;
   height: 37px;
   border-bottom: 3px dashed #EC6645;
   -webkit-transform: translateY(66px) translateX(5px) rotate(18deg);
   position: absolute;
   bottom: -221px;
   left: -15px;
   -moz-transform: translateY(-10px) translateX(5px) rotate(18deg);
   position: absolute;
   bottom: -221px;
   left: -15px;
}
.line3{
  border-bottom: 3px dashed #EC6645;
  -webkit-transform: translateY(-7px) translateX(204px) rotate(90deg);
  position: absolute;
  bottom: -70px;
  left: 15px;
  -moz-transform: translateY(10px) translateX(42px) rotate(53deg);
  width: 105px;
  height: 20px;
}
.external-circle {
    background-color: #FF6A49;
    border-radius: 50%;
    padding: 2%;
      .internal-circle {
       border: 2px dashed white;
       border-radius: 50%;
       height: 480px;
       }
}
.external-circle:hover{
   background-color: white; 
}
.grande{
  padding: 25px;
}
.internal-circle:hover{
  border: 2px dashed red;
 background-image: url(../fotos/personajes/ilustracion-26.png);
  background-size: cover;

}
.internal-circle {
border: 2px dashed white;
border-radius: 50%;
height: 428px;
}
.circulo{
  padding: 6%;
}
.circle-text h4 :hover{
     color: transparent;
}
.circle-text{
  width: 80%;
  text-align: center;
  padding: 17% 5%;
  margin: 0 auto;
  h4{
    font-size: 30px;
    color: white;     
    font-family: Lato;
  }
   h3{
      font-size: 30px;
      color: white;     
      font-family: Lato;
   }
}
.text-left {
  top: -190px;
  text-align: center;
    h3{
      font-size: 24px;
      color: red;     
      font-family: Lato;
    }
    p{
      margin: 21px 0;
      font-size: 18px;
      color: grey;     
      font-family: Lato;
    }
}
.text-centro{
   top: 110px;
    h3{
      font-size: 24px;
      color: red;     
      font-family: Lato;
    }
    p{
      margin: 21px 0;
      font-size: 18px;
      color: grey; 
     font-family: Lato;      
    }
  } 
.metodologia2{
    margin: 0 auto;
    padding: 10%;
    h1{
      margin: 15% 0 10%;
      text-align: center;
      color: rgb(56, 165, 216); 
      font-family: Lato; 
    }
    h3{
     margin: 0;
     padding: 10px;
     color: red; 
     font-family: Lato;
    }
    p{
     margin: 0;
     padding: 10px;
     color: grey;
     font-size: 18px; 
     font-family: Lato;
    }
    h2{
      color: red;
      padding: 25px;
     font-family: Lato;
    }
  }
.mas{
  padding: 2% 0 5%;
}
.mas{
  width: 16%;
  background-color: rgb(40, 197, 230);
  margin: 0 auto;
  height: 50px;
  padding: 16.5px;
  border-radius: 14px;
  margin-top: 4%;
  margin-bottom: 16%;
  color: white;
  text-align: center;
  position: relative;
    h1{
        margin: 0;
        font-size: 15px;
        font-family: Lato;
    }

}
/*postulante*/
.farolito {
  text-align: center;
  padding: 10% 0 0;
  position: relative;
  left: 2%;
  h1 {
  margin: 0;
  color: white;
  }
  h3 {
  margin: 3% 0 1%;
  color: white;
  }
}

.postulantes{
   background-color: rgb(40, 197, 230);
    .row{
        padding: 0 10%;
        margin-left: 0;
        margin-right: 0;
     }
}
.numeros{
  list-style: none;
  li{
    margin: 160% 0;
  }
}
.titulos{
  list-style: none;  
  li{
    margin: 100% 0;
    h3 {
      font-size: 24px;
      color: white;
      border-bottom: 2px dashed white;
      padding-bottom: 12%;
      width: 122%;
     font-family: Lato;
    }
  }
}
.imagenes{
  list-style: none;
  padding: 0;  
  li{
    margin: 100% 0;
  }
  img{
    width: 100%;
  }
}
.descripcion{
  list-style: none; 
  padding: 0; 
  li{
    margin: 40% 0 40% 15%;
        h3 {
      font-size: 24px;
      color: white;
     font-family: Lato;
    }
  }
}
.tres{
     margin: 100% 0;
}
.line4{
   border-bottom: 3px dashed #F6F3F2;
  -webkit-transform: translateY(-48px) translateX(490%) rotate(90deg);
  position: absolute;
  bottom: -328%;
  left: 15px;
  -moz-transform: translateY(10px) translateX(42px) rotate(53deg);
  width: 123px;
  height: 20px;
}
.line5{
   border-bottom: 3px dashed #F6F3F2;
  -webkit-transform: translateY(201px) translateX(490%) rotate(90deg);
  position: absolute;
  bottom: -328%;
  left: 15px;
  -moz-transform: translateY(10px) translateX(42px) rotate(53deg);
  width: 123px;
  height: 20px;
}
.line6{
   border-bottom: 3px dashed #F6F3F2;
  -webkit-transform: translateY(450px) translateX(490%) rotate(90deg);
  position: absolute;
  bottom: -328%;
  left: 15px;
  -moz-transform: translateY(10px) translateX(42px) rotate(53deg);
  width: 123px;
  height: 20px;
}
.oportunidades {
  padding: 0px 30%;
  text-align: center;
  top: -92px;
  position: relative;
     h1{
         font-size: 27px;
         background-color: rgb(1, 166, 252);
         padding: 5%;
         border-radius: 15px;
         color: white;
         border: 2px solid white;
       }
}
/*postulantes2*/
.postulantes2{
   background-color: rgb(40, 197, 230);
 }
.farolito2{
  text-align: center;
  padding: 10% 0 ;
  h1 {
  margin: 10% 7%;
  color: white;
  }
  h3 {
  margin: 3% 12%;
  color: white;
  border-bottom: 2px dashed white;
  padding: 5%;
  }
  h4 {
  margin: 10%;
  color: white;
  font-size: 23px;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
    }
  }
}
.numeros2{
  width: 10%;
  margin: 8%;
}
img.icn {
  width: 20%;
}
 /*seccion de empresas*/
.farolito-para-empresas{
  text-align: center;
  padding: 10% 0;

  h3{
    text-align: center;
    color: rgb(255, 106, 73);
    font-size: 35px;
  }
  h2{
    text-align: center;
    font-size: 25px;
    color: rgb(189, 188, 188);
  }
  hr{
  border-bottom: 2px dashed rgb(255, 106, 73);
  width: 50%;
}
  p{
    text-align: center;
    font-size: 18px;
  }
  .row{
   margin-right: 0;
   margin-left: 0;
  }
  .col-md-4{
      margin-top: 30px;
  }
  span{
    color: rgb(100, 199, 226);
  }
}
.cont{
  padding: 0px 42%;
  text-align: center;
  top: 47px;
  position: relative;
     h1{
         font-size: 27px;
         background-color: red;
         padding: 5%;
         border-radius: 33px;
         color: white;
         border: 2px solid white;
       }
}
.cont2{
  padding: 0px 30%;
  text-align: center;
  top: 47px;
  position: relative;
  margin: 3%;
     h1{
         font-size: 27px;
         background-color: red;
         padding: 5%;
         border-radius: 33px;
         color: white;
         border: 2px solid white;
       }
}
 /*centros*/
.centroeducativo{ 
  background-color: #77d248;
}
.educativo{
   text-align: center;
   padding: 10% 0 ;
  h3{
    text-align: center;
    color: white;
    font-size: 35px;
  }
  h2{
    text-align: center;
    font-size: 25px;
    color: #fcf07e;
  }
  hr{
  border-bottom: 2px dashed white;
  width: 50%;
  border-top: 0;
  padding: 5px;
}
  p{
    text-align: center;
    font-size: 18px;
    color: white;
  }
  .row{
   margin-right: 0;
   margin-left: 0;
  }
  .col-md-4{
      margin-top: 30px;
  }
  span{
    color: rgb(100, 199, 226);
  }
  img{
    border-radius: 50%;
  }
}
.contc{
  padding: 0px 42%;
  text-align: center;
  top: 47px;
  position: relative;
     h1{
         font-size: 27px;
         background-color: transparent;
         padding: 7%;
         border-radius: 33px;
         color: white;
         border: 2px solid white;
       }
}
.contc2{
  padding: 0px 30%;
  text-align: center;
  top: 47px;
  position: relative;
  margin: 0 0 5%;
     h1{
         font-size: 27px;
         background-color: transparent;
         padding: 5%;
         border-radius: 33px;
         color: white;
         border: 2px solid white;
       }
}
/*lista de  oportunidades*/
.lista{
  background-image: url(../fotos/img/img-03.png);
  padding:10%; 
  padding-bottom: 5%;
} 
.completo {
padding: 0 16%;
}
.contenido{
      h1 {
    text-align: center;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    color: gray;
    }
   .asesor {
      h3 {
      width: 35%;
      padding: 1%;
      border-bottom: 2px solid #28c5e6;
      color: #28c5e6;
      }
      h5 {
      font-size: 20px;
      color: gray;
      }
      h4 {
      color: red;
      border: 1px solid red;
      width: 13%;
      padding: 1%;
      border-radius: 30%;
      left: 85%;
      position: relative;
      margin: 0;
      }
   }
   .practicante{
      h3 {
      width: 35%;
      padding: 1%;
      border-bottom: 2px solid #28c5e6;
      color: #28c5e6;
      }
      h5 {
      font-size: 20px;
      color: gray;
      }
      h4 {
      color: red;
      border: 1px solid red;
      width: 13%;
      padding: 1%;
      border-radius: 30%;
      left: 85%;
      position: relative;
      margin: 0;
      }

   }
   .seguridad {
      h3 {
      width: 35%;
      padding: 1%;
      border-bottom: 2px solid #28c5e6;
      color: #28c5e6;
      }
      h5 {
     font-size: 20px;
     color: gray;
     }
      h4 {
      color: red;
      border: 1px solid red;
      width: 13%;
      padding: 1%;
      border-radius: 30%;
      left: 85%;
      position: relative;
      margin: 0;
      }
   }
}
.ver-todos{
    margin-top: 12% !important;

    a{
    font-weight: 700;
    border-radius: 17px !important;
    padding: 14px 40px !important;
    background-color: #9E9D9D;
    color: #EBEEF2;
    position: relative;
    top: -75px;
    } 
}

/*blog*/
.blog{
    padding: 8% 15px 10%;
    h1 {
      text-align: center;
      margin-bottom: 7%;
      color: gray;
      }
    .row{
      margin-right: 0;
      margin-left: 0;
    }
    .col-md-4 {
      text-align: center;
      }
    .bloques-hover{
    top: -22px;
    position: relative;
      .parrafo {
      padding: 10% 15%;
      text-align: justify;
      font-size: 20px;
      }    
    }
    img {
     z-index: 10;
    }
    .bloques{
    top: -22px;
    position: relative;
      .parrafo {
      padding: 10% 15%;
      text-align: justify;
      font-size: 20px;
      }
    } 
}
.bloques-hover:hover{
  background-color: yellow;
  z-index: 1;
}
.blog .ver-todos a{
    background-color: #28c5e6;
    color: white;
    position: relative;
    top: 50px;
    } 
.ver-todos2{
    margin-top: 12% !important;}

.blog .ver-todos2 a{
    font-weight: 700;
    border-radius: 17px !important;
    padding: 14px 60px !important;
    background-color: #28c5e6;
    color: white;
    position: relative;
    top: 8px;
    } 
    
/*contactos*/
.contacto {
text-align: center;
background-color: rgba(204, 203, 203, 0.72);
}

.contactanos {
padding: 8% 5%;
  h2 {
   margin: 5%;
   font-size: 50px;
   color: grey;
   }
}
.estilo-nombre {
  height: 8%;
  width: 40%;
  border: 0;
  font-size: 20px;
  margin: 1%;
}
.correo{
  height: 8%;
  width: 40%;
  border: 0;
  font-size: 20px;
  margin: 1%;
}
.mensaje{
  height: 15%;
  width: 40%;
  border: 0;
  font-size: 20px;
  margin: 1%;
}

.buton.bt-enviar {
  width: 13%;
  background-color: grey;
  height: 36px;
  padding: 9px;
  border-radius: 12px;
  margin-top: 3%;
  color: white;
  left: 58%;
  position: relative;
    .butoncolor {
        background-color: transparent;
        border: 0;
        a{
          color: white;
        }
      }
}
.estilo-nombre2 {
  height: 7%;
  width: 75%;
  border: 0;
  font-size: 17px;
  margin: 1%;
  text-align: center;
}
.correo2{
  height: 7%;
  width: 75%;
  border: 0;
  font-size: 17px;
  margin: 1%;
  text-align: center;
}
.mensaje2{
  height: 15%;
  width: 75%;
  border: 0;
  font-size: 17px;
  margin: 1%;
  text-align: center;
}

.buton.bt-enviar2 {
  width: 29%;
  background-color: grey;
  height: 36px;
  padding: 9px;
  border-radius: 12px;
  top: 3px;
  color: white;
  margin: 0 auto;
  position: relative;
    .butoncolor2 {
        background-color: transparent;
        border: 0;
        a{
          color: white;
        }
      }
}
.footer{
  color: #777777;
  background-color: #989898;
  height: 49px;
   .redes{
    padding-left: 21px;
    float: left;
     ul{
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
       li{
        padding-left: 7px;
        position: relative;
        top: -14px;
        display: inline-block;
         img{
          padding: 2px;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid #ddd;
         }
       }
     }
   }
   .redes2{
     ul{
      list-style: none;
      text-align: center;
      padding: 0;
       li{
        padding-left: 7px;
        position: relative;
        top: -14px;
        display: inline-block;
         img{
          padding: 2px;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid #ddd;
         }
       }
     }
   }
   .reservar{
    float: right;
    width: 21%;
    padding: 12px;
     h5{
      color: white;
      font-size: 17px;
      margin: 1%;
     }
   }
}



































