.container-fluid{
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	height: 100%;	
}
.lap{
	background-image: url(../fotos/img/home.png);
}
.fondo{
	 h1{
		margin: 0; 
	 }
	}
.slogan{
      .row{
    	  margin: 0;
        width: 50%;
        position: relative;
        left: 50%;
        text-align: center;
        img{
        	  margin-top: 20%;
        }
        h1 {
          margin: 0;
          padding: 10% 12% 3%;
          color: rgb(40, 197, 230);
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px;
        }
  }
}

.boton{
	width: 35%;
  background-color: rgba(249, 6, 13, 0.84);
  margin: 0 auto;
  height: 50px;
  padding: 16.5px;
  border-radius: 14px;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
    h3{
    	  margin: 0;
        font-size: 15px;
    }

}
.flecha{
	position: relative;
	top: -5%;
	text-align: center;
	 img{
	 	  position: absolute;
      border-radius: 50%;
      margin: 0 auto;
	 }
}

/*celular*/

.boton2{
  width: 30%;
  background-color: rgba(249, 6, 13, 0.84);
  padding: 8px;
  border-radius: 14px;
  margin-top: 5%;
  margin-bottom: 10%;
  color: white;
  left: 64%;
  position: relative;
    h3{
    	  margin: 0;
        font-size: 13px;
    }

}
.slogan2{
	   text-align: center;
        h1 {
          padding: 12% 15%;
          margin: 0;
          color: rgb(40, 197, 230);
          font-size: 24px;
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px;
        }
        .foto img{
        	width: 100%;
        }
  }