.container-fluid{
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	height: 100%;	
}
.lap{
	background-image: url(../fotos/img/home.png);
}
.fondo{
	 h1{
		margin: 0; 
	 }
	}
.slogan{
      .row{
    	  margin: 0;
        width: 50%;
        position: relative;
        left: 50%;
        text-align: center;
        img{
        	  margin-top: 20%;
        }
        h1 {
          margin: 0;
          padding: 10% 12% 3%;
          color: rgb(40, 197, 230);
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px;
        }
  }
}

.boton{
	width: 35%;
  background-color: rgba(249, 6, 13, 0.84);
  margin: 0 auto;
  height: 50px;
  padding: 16.5px;
  border-radius: 14px;
  margin-top: 8%;
  margin-bottom: 16%;
  color: white;
    h3{
    	  margin: 0;
        font-size: 15px;
    }

}
.flecha{
	position: relative;
	top: -5%;
	text-align: center;
	 img{
	 	  position: absolute;
      border-radius: 50%;
      margin: 0 auto;
	 }
}

/*celular*/

.boton2{
  width: 30%;
  background-color: rgba(249, 6, 13, 0.84);
  padding: 8px;
  border-radius: 14px;
  margin-top: 5%;
  margin-bottom: 10%;
  color: white;
  left: 64%;
  position: relative;
    h3{
    	  margin: 0;
        font-size: 13px;
    }

}
.slogan2{
	   text-align: center;
        h1 {
          padding: 12% 15%;
          margin: 0;
          color: rgb(40, 197, 230);
          font-size: 24px;
        }
        p{
          margin: 0 10% 2%;
          font-size: 18px;
          padding: 0 10px 10px;
        }
        .foto img{
        	width: 100%;
        }
  }
  /*metodologia*/
.metodologia{
    margin: 0 auto;
    h1{
      margin: 15% 0 4%;
      text-align: center;
      color: rgb(56, 165, 216);
    }

    h3{
     margin: 0;
    }
  }
.primera-comilla {
      position: relative;
      right: -222px;
      top: -10px;
}
.segunda-comilla {
     left: -170px;
     position: relative;
     bottom: -30px;
}
.text-danger {
   color: #E9413E;
   font-size: 29px;
}
.line1 {
   width: 175px;
   height: 47px;
   left: 74px;
   border-bottom: 2px dashed #EC6645;
   -webkit-transform: translateY(10px) translateX(2px) rotate(-18deg);
   position: absolute;
   top: 158px;
   left: 74px;
   -moz-transform: translateY(10px) translateX(2px) rotate(-18deg);
   position: absolute;
   top: 158px;
}
.line2 {
   width: 175px;
   height: 37px;
   border-bottom: 2px dashed #EC6645;
   -webkit-transform: translateY(-10px) translateX(5px) rotate(18deg);
   position: absolute;
   bottom: -221px;
   left: -15px;
   -moz-transform: translateY(-10px) translateX(5px) rotate(18deg);
   position: absolute;
   bottom: -221px;
   left: -15px;
}
.external-circle {
    background-color: #FF6A49;
    border-radius: 50%;
      .internal-circle {
       border: 2px dashed white;
       border-radius: 50%;
       height: 428px;
       }
}
.internal-circle {
border: 2px dashed white;
border-radius: 50%;
height: 428px;
}